# actionscore/cli build pipeline

# Release process - https://github.com/actionscore/actions/wiki/Release-Process

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*

variables:
  GOPATH: '$(system.defaultWorkingDirectory)/gopath'
  GOBIN:  '$(GOPATH)/bin'
  modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)'

jobs:
- job: release_environment
  pool:
    vmImage: ubuntu-latest
  steps:
    - script: |
        SOURCEBRANCH=$(Build.SourceBranch)
        echo Source branch name : $SOURCEBRANCH
        if [[ $SOURCEBRANCH != refs/tags/v* ]]; then
          echo Clearing REL_VERSION value unless $SOURCEBRANCH is refs/tags/v.
          RELVERSION=""
          echo "##vso[task.setvariable variable=REL_VERSION;isOutput=true]$RELVERSION"
          exit 0
        fi
        RELVERSION=${SOURCEBRANCH#refs/tags/v}
        echo Release version : $RELVERSION
  
        echo "##vso[task.setvariable variable=REL_VERSION;isOutput=true]$RELVERSION"
        echo $RELVERSION > $(Build.ArtifactStagingDirectory)/release_version.txt
        echo $(Build.SourceVersion) > $(Build.ArtifactStagingDirectory)/release_commit_id.txt

        if [ "$LATEST_RELEASE" == "true" ]; then
          echo Checking release note for $RELVERSION...
          RELNOTE_PATH="docs/release_notes/v$RELVERSION.md"
          [ ! -f "$RELNOTE_PATH" ] && echo "$RELNOTE_PATH not found" && exit 1

          echo Add release tag
          echo "##vso[build.addbuildtag]release"
        fi
      name: env_var_step
    - task: PublishBuildArtifacts@1
      displayName: 'Publish build artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
- template: 'build-template.yml'
  parameters:
    poolImage: macOS-latest
    targetOS: darwin
    targetArch: amd64
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- template: 'build-template.yml'
  parameters:
    poolImage: ubuntu-latest
    targetOS: linux
    targetArch: amd64
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- template: 'build-template.yml'
  parameters:
    poolImage: 'windows-2019'
    targetOS: windows
    targetArch: amd64
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- template: 'build-template.yml'
  parameters:
    poolImage: ubuntu-latest
    targetOS: linux
    targetArch: arm
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- template: 'build-template.yml'
  parameters:
    poolImage: ubuntu-latest
    targetOS: linux
    targetArch: arm64
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- job: 'release_to_github'
  pool:
    vmImage: ubuntu-latest
  dependsOn:	
    - build_darwin_amd64_actions	
    - build_linux_amd64_actions	
    - build_windows_amd64_actions	
    - build_linux_arm_actions	
    - build_linux_arm64_actions
    - release_environment
  condition: and(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'), eq(variables['LATEST_RELEASE'], 'true'))
  variables:
    REL_VERSION: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
  steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        buildType: 'current'
        itemPattern: '**'
        targetPath: '$(Pipeline.Workspace)'
    - task: GitHubRelease@0
      displayName: 'Upload Actions CLI binaries to GitHub Release'
      inputs:
        gitHubConnection: 'GitHub'
        repositoryName: '$(Build.Repository.Name)'
        action: 'create'
        target: '$(Build.SourceVersion)'
        tagSource: 'manual'
        tag: 'v$(REL_VERSION)'
        title: 'Actions CLI $(REL_VERSION)'
        assets: |
          $(Pipeline.Workspace)/drop/*.zip
          $(Pipeline.Workspace)/drop/*.tar.gz
        releaseNotesFile: './docs/release_notes/v$(REL_VERSION).md'
        isPreRelease: true
        addChangeLog: false